<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application>
        <receiver android:name=".service.receiver.DrugsReminder"
            android:enabled="true"
            android:exported="true"/>
        <receiver android:name=".service.receiver.StartReminder"
            android:enabled="true"
            android:exported="true"/>
        <receiver android:name=".service.receiver.StopReminder"
            android:enabled="true"
            android:exported="true"/>
        <service android:name=".service.AlarmService"
            android:enabled="true"/>
    </application>
</manifest>